<div class="flex-container">
  <div class="login-container login">
    <div class="login-header">
      <h1 class="main-title">
        ANDREW <span class="main-title main-title-second">BLOG</span>
      </h1>
    </div>
    <div class="login-form">
      <p class="login-header-text-first simple-text">Log in</p>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="inner-form-block">
          <label for="input-form-email">Email</label>
          <input
            id="input-form-email"
            placeholder="Enter your email"
            formControlName="email"
            type="email"
          />
          <div class="validation-warning"
            *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <p>Enter your email</p>
          </div>
        </div>
        <div class="inner-form-block">
          <label for="input-form-password">Password</label>
          <input
            id="input-form-password"
            placeholder="Enter password"
            formControlName="password"
            type="password"
          />
          <div class="validation-warning"
            *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <p>Enter your password</p>
          </div>
        </div>
        <div class="inner-form-checkbox">
          <input
            type="checkbox"
            id="remember"
            [checked]="rememberUser"
            (change)="rememberUser = !rememberUser"
            class="checkbox"
          />
          <label for="remember">Remember me</label>
        </div>
        <div class="inner_form_block">
          <button class="btn-submit" type="submit" [disabled]="this.loginForm.invalid">Log in</button>
        </div>
      </form>
    </div>
    <div class="link_block">
      <a class="base-links"><b>Forgot Password?</b></a>
    </div>
  </div>
</div>
