<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <h1 class="story-title main-title" routerLink="/">
        ANDREW <span class="main-title-second">BLOG</span>
      </h1>
    </div>
    <div class="search">
      <img alt="#" src="../../../assets/icons/search-logo.png" />
      <input class="search-input" placeholder="Search blog" type="search" />
    </div>
  </div>
  <div class="profile" routerLink="user-profile">
    <img alt="#" src="../../../assets/icons/profile-icon.png" />
  </div>
</header>
