<div class="flex-container">
  <div class="login-container">
    <div class="login-header">
      <h1 class="main-title">ELEKS <span class="main-title main-title-second">BLOG</span></h1>
    </div>
    <div class="login-form">
      <p class="login-header-text-first simple-text">Create your account</p>
      <form name="registerForm" class="form">
        <div class="inner-form-block">
          <label for="input-form-name">Name</label>
          <input id="input-form-name"
                 placeholder="Enter your first or last name"
                 type="text"/>
        </div>
        <div class="inner-form-block">
          <label for="input-form-email">Email</label>
          <input id="input-form-email"
                 placeholder="Enter your email"
                 type="email"/>
        </div>
        <div class="inner-form-block">
          <label for="input-form-password">Password</label>
          <input id="input-form-password"
                 placeholder="Enter password"
                 type="password"/>
        </div>
        <div class="inner-form-block">
          <label for="input-form-repeat-password">Repeat password</label>
          <input id="input-form-repeat-password"
                 placeholder="Re-enter password"
                 type="password"/>
        </div>
        <div class="inner-form-block">
          <button class="btn-submit" type="submit">Create account</button>
        </div>
      </form>
    </div>
    <div class="link_block">
      <a class="base-links">I already have an account</a>
    </div>
  </div>
</div>
