<div class="small-container">
  <div class="form-block">
    <h2 class="">Edit your profile</h2>
    <form>
      <label for="first-name">First name</label>
      <input type="text" id="first-name" placeholder="Enter your first name">
      <label for="last-name">Last name</label>
      <input type="text" id="last-name" placeholder="Enter your last name">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Enter your email">
    </form>
  </div>
  <div class="avatar-block">
    <div class="image-preview"></div>
    <button class="upload-avatar">Upload avatar</button>
  </div>
  <button type="button">Update details</button>
</div>
