$boxShadowColor: rgba(0, 0, 0, 0.05);
$btnBackColor: #3884f2;

/* Bellow header for top-stories */

.bellow-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 77px;
  padding-left: 25px;
  background-color: white;
  box-shadow: 0 2px 4px $boxShadowColor;

  .third-head-text {
    color: #292c31;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 21px;
  }

  .btn-add-story {
    width: 96px;
    height: 34px;
    color: white;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    background-color: $btnBackColor;
    border-radius: 4px;
    transition: background-color 0.1s linear;

    &:hover{
      cursor: pointer;
      background-color: darken($btnBackColor, 10%);
    }
  }
}

/* Story Board styles */

.story-board {
  display: grid;
  grid-template-columns: 334px 334px 334px 334px;
  grid-column-gap: 16px;
  width: 100%;
  max-width: 1440px;
  padding: 0 28px;
  box-sizing: border-box;

  .story-item {
    height: 348px;
    background: #ffffff;
    border: 1px solid #eff0f2;
    padding: 18px 24px;
    box-shadow: 0 2px 4px $boxShadowColor;
    border-radius: 6px;
    margin-top: 16px;

    &-header {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;

      img {
        height: 22px;
        width: 22px;
        object-fit: cover;
        border-radius: 50%;
      }

      &-name {
        margin-left: 9px;
      }

      &-date {
        margin-left: 2px;
        color: #5f6871;
      }
    }

    &-image {
      margin-top: 9px;

      img {
        width: 283px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 15px;
      }
    }

    &-paragraph {
      font-size: 16px;
      line-height: 24px;
      color: #292c31;
      margin-bottom: 9px;
    }

    &-article {
      height: 28%;
      font-size: 14px;
      line-height: 21px;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 4;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #106bef;
      }

      &-likes {
        img {
          cursor: pointer;
          opacity: 0.6;
          height: 12px;
        }
        .disliked{
          opacity: .2;
        }

        .likes-counter {
          color: #5f6871;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
